body {
    border:auto;
    margin: auto;
    padding: auto;
}

.full-height {
                height: 100vh;
            }

.flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }
.position-ref {
                position: relative;
            }
.top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }
.content {
                text-align: center;
            }
.title {
                font-size: 84px;
            }
.links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

.m-b-md {
                margin-bottom: 30px;
            }
.mainbody{
            border-style:double-ridge;
            margin:auto;
            height:1000px;
            width: auto;
        }
.subbody{
    border-style:double-ridge;
    margin: auto;
    height:900px;
    width: auto;
    background-image:url("whab.jpg");
}
.linkbar{
       border-style:double-ridge;
       border-bottom-style:solid;
       border-bottom-color:gold;
       margin:auto;
       height:100px;
       width:auto;
        }
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:black;
  padding: 10px;
  margin-top:300px;
}
.grid-item {
  background-color:black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color:white;
}
.header{
    border-style:double-ridge;
    margin:auto;
    height:100px;
    width: auto;
    background-color:black;
    color: white;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width:auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:black;
  padding: 10px;
  margin:auto;
  margin-top:-100px; 
}
.grid-item {
  background-color:black;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align:center;
}



